/*
COLORS:
light yellow-orange #ffd480
dark yellow-orange #ffcc66

purple text: "color": "#39004d"

*/

body {
  background-color: #ffb3d9;
}

h1 {
	color: 	#FFFACD;
}

#collection-component-1617744041727 {
    margin-top: 10px;
    padding-top: 30px;
}